beautifulsoup4==4.6.0
bokeh==0.12.10
certifi==2017.11.5
chardet==3.0.4
Django==1.11.7
django-modelcluster==3.1
django-taggit==0.22.1
django-treebeard==4.1.2
djangorestframework==3.6.4
gunicorn==19.7.1
html5lib==0.999999999
idna==2.6
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.13.3
olefile==0.44
pandas==0.21.0
Pillow==4.3.0
psycopg2==2.7.1
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.18.4
six==1.11.0
tornado==4.5.2
Unidecode==0.4.21
urllib3==1.22
wagtail==1.13.1
webencodings==0.5.1
Willow==1.0
