{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <h2>{{ page.author }}</h2>

    <p>{{ page.date }}</p>

    <!-- loop over streamfield items for this page (will include images if they're added in the streamfield editor) -->
    <!-- TBD handle streamfield images differently using similar IF as above -->
    <!-- TBD need to handle the other block properties (link, embed, etc) for better control of rendering -->
    {% for block in page.body %}
        {% if block.block_type == 'heading' %}
            <h3>{{ block.value }}</h3>
        {% else %}
            <section class = "block-{{ block.block_type }}">
                {% include_block block %}
            </section>
        {% endif %}
    {% endfor %}

    <!-- images added as gallery images in a page (not streamfield images, those are above) -->
    {% for pic in page.gallery_images.all %}
        <div style = "float: center; margin: 10px">
            {% image pic.image fill-320x240 %}
            <p>{{ pic.caption }}</p>
        </div>
    {% endfor %}

    {% if page.tags.all.count %}
        <div class="tags">
            <h3>Tags</h3>
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
            {% endfor %}
        </div>
    {% endif %}

    <p><a href = "{{ page.get_parent.url }}">Return to blog index</a></p>

{% endblock %}