{% extends "base.html" %}
{% load staticfiles %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_head %}
<style>
    img {
        width: 100%;
        height: auto;
    }
</style>
{% endblock %}

{% block pagetitle %}
    <div class="page-titles-img title-space-lg bg-parallax parallax-overlay mb70" data-jarallax='{"speed": 0.2}' style='background-image: url("{% static "images/background.jpg" %}"'')>
        <div class="container">
            <div class="row">
                <div class=" col-md-8 ml-auto mr-auto">
                    <h1>Propulsion Blog</h1>
                </div>
            </div>
        </div>
    </div><!--page title end-->
{% endblock %}

{% block blogindex %}
    <div class="container mb30">
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                {% for post in content %}
                    {% if post.title != "Tags" %}
                        {% with post=post.specific %}
                            <article class="article-post mb70">
                                <!-- gallery image thumbnail -->
                                {% with post.main_image as main_image %}
                                    {% if main_image %}
                                        <a class="post-thumb mb30" href="{% pageurl post %}">
                                            {% image main_image fill-1140x500 %}
                                        </a>
                                    {% endif %}
                                {% endwith %}
                                <div class="post-content text-center">
                                    <a href="{% pageurl post %}"><h2 class="post-title">{{ post.title }}</h2></a>
                                    <ul class="post-meta list-inline">
                                        <li class="list-inline-item">
                                            <i class="fa fa-user-circle-o"></i> <a href="#">{{ post.author }}</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fa fa-calendar-o"></i> <a href="#">{{ post.date }}</a>
                                        </li>
                                    </ul>
                                    <p> {{ post.intro }}</p>
                                    <a href="{% pageurl post %}" class="btn btn-outline-secondary">More</a>
                                </div>
                            </article><!--article-->
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}