{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <!-- 'page' is from BlogIndexPage model (title is from the base Page model) -->
    <h1>{{ page.title }}</h1>

    <!-- 'intro' is defined in BlogIndexPage  -->
    <div class = "intro">{{ page.intro|richtext }}</div>

    <!-- list of child pages to BlogIndexPage -->
    <!-- 'blogpages' context is defined in BlogIndexPage -->
    {% for post in content %}    
        {% with post=post.specific %}
            <h2><a href = "{% pageurl post %}">{{ post.title }}</a></h2>

            {% with post.main_image as main_image %}
                {% if main_image %}
                    {% image main_image fill-160x100 %}
                {% endif %}
            {% endwith %}
            <p>{{ post.intro }}</p>
        {% endwith %}
    {% endfor %}

    <h2><a href = "{% url 'home' %}">Home</a></h2>

{% endblock %}