{% extends "base.html" %}

{% block extra_head %}

	<script type="text/javascript" async
	  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>

	{% if bokeh_plot_script %}
		<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css" type="text/css" />
		<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
		{{bokeh_plot_script|safe}}
	{% endif %}

{% endblock %}


{% block content %}

	<h1>Delta-V Required to Drop Altitude</h1>
	<p>
	  When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
	  $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
	</p>

	{% if bokeh_plot_div %}
		{{bokeh_plot_div|safe}}
	{% else %}
		<form action="" method="post">
		    {% csrf_token %}
		    {{ form }}
	    	<input type="submit" value="Submit" />
		</form>
	{% endif %}

	<h2><a href = "{% url 'plots_home' %}">back to plots</a></h2>

{% endblock %}