{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block extra_head %}
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  TeX: { equationNumbers: { autoNumber: "all" } }
	});
	</script>

	<script type="text/javascript" async
	  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>

	{% if bokeh_plot_script %}
		<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css" type="text/css" />
		<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
		{{bokeh_plot_script|safe}}
	{% endif %}
{% endblock %}


{% block non_blog_title %}
    <title>Total Impulse: EP Duty Cycle</title>
{% endblock %}


{% block pagetitle %}
    <div class="page-titles-img title-space-lg bg-parallax parallax-overlay mb70" data-jarallax='{"speed": 0.2}' style='background-image: url("{% static "images/background.jpg" %}"'')>
        <div class="container">
            <div class="row">
                <div class=" col-md-8 ml-auto mr-auto">
                    <h1>Electric Propulsion Duty Cycle</h1>
                </div>
            </div>
        </div>
    </div><!--page title end-->
{% endblock %}


{% block content %}
	<div class="page-footer-sticky">
        <div class="footer-sticky-wrap">
            <div class="footer-sticky-inner">
            	<div class="pt30 pb40 container">
            		<p>
            			The latter part of <a href="https://www.totalimpulse.net/blog/atmospheric-drag-spacecraft/">this blog post</a> discusses generalized impacts of atmospheric drag on LEO spacecraft and the impact of \( I_{sp} \) in a drag compensation context. There is obvious advantage to using a system with high \( I_{sp} \) as it will lower the amount of propellant required, which directly impacts the spacecraft mass. However, there is an intrinsic physics based trade-off in any EP system that relates specific impulse, power, and thrust. Skipping the development, the thrust of an electric propulsion system is shown in Equation \ref{thrust}
            			$$\begin{equation} F = \frac{2\eta_{t}P_{in}}{I_{sp}g_0} \label{thrust} \end{equation}$$
            		</p>
            		<p>
            			The key to note here is for a given electrical power input, the thrust of an EP system is inversely proportional to the specific impulse. This means that high \( I_{sp} \) systems will have a lower thrust at the same power and will therefore need to operate for a longer duration to offset drag. Using Equation \ref{thrust}, the relationship
						between the time an EP system must operate to the total mission time can be found by equating the thrust impulse to the drag impulse and, after manipulation, results in
						$$\begin{equation} \frac{t_{thrust}}{t_{mission}} = \frac{F_{drag}g_{0}I_{sp}}{2\eta_{t}P_{in}} \label{dutycycle} \end{equation}$$
            		</p>
            		<p>
            			The form below plots results for thruster duty cycle to achieve drag compensation of 50% solar cycle from Equation \ref{dutycycle}
            		</p>

					{% if bokeh_plot_div %}
						<div align="center">
							{{bokeh_plot_div|safe}}
						</div>
					{% else %}
						<form action="" method="post">
						    {% csrf_token %}
						    {{ form|crispy }}
					    	<input type="submit" class="btn btn-primary mb5" value="Submit" />
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}