{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block extra_head %}
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  TeX: { equationNumbers: { autoNumber: "all" } }
	});
	</script>

	<script type="text/javascript" async
	  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>

	{% if bokeh_plot_script %}
		<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css" type="text/css" />
		<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
		{{bokeh_plot_script|safe}}
	{% endif %}
{% endblock %}


{% block non_blog_title %}
    <title>Total Impulse: Spacecraft Drag Calculator</title>
{% endblock %}


{% block pagetitle %}
    <div class="page-titles-img title-space-lg bg-parallax parallax-overlay mb70" data-jarallax='{"speed": 0.2}' style='background-image: url("{% static "images/background.jpg" %}"'')>
        <div class="container">
            <div class="row">
                <div class=" col-md-8 ml-auto mr-auto">
                    <h1>Spacecraft Drag Compensation</h1>
                </div>
            </div>
        </div>
    </div><!--page title end-->
{% endblock %}


{% block content %}
	<div class="page-footer-sticky">
        <div class="footer-sticky-wrap">
            <div class="footer-sticky-inner">
            	<div class="pt30 pb40 container">
					<p>
						This calculator determines how long a spacecraft can compensate for the atmospheric drag force at a given altitude until propellant is exhausted. For our purposes this time is defined as 'spacecraft lifetime', but does not take into account the orbital decay after propellant is spent. Also it does not take into account other uses of propellant a spacecraft may require throughout it's operational life (ie, phasing, stationkeeping, COLA, etc), it only considers drag makeup to maintain a mission altitude.
					</p>

					<p>
						The major assumptions are:
						<ul>
							<li>The maneuver(s) required to drop the separation altitude to the mission altitude a) use the maximum efficiency combined plane change technique (discussed in various textbooks and presented <a href="http://www.braeunig.us/space/orbmech.htm#maneuver">here</a>), b) maintain sun synchronous orbit, and c) utilize a circular orbit</li>
							<li>The <a href="https://ccmc.gsfc.nasa.gov/modelweb/models/nrlmsise00.php">NRLMSISE-00</a> atmospheric model is used, taking into account maximum solar cycle F10.7 and ap indices (further information on the model is <a href="https://www.totalimpulse.net/blog/atmospheric-drag-spacecraft/">here</a>), but the atmosphere's properties do not evolve with time as the calculation is run (ie frozen conditions). For high total impulse missions (ie long missions), this static atmosphere will introduce error but is OK for initial estimates</li>
							<li>The frozen atmospheric conditions are at worst case solar cycle (40% of the 11 year cycle)</li>
							<li>Does not account for other delta-V or propellant uses like momentum dumping, separation clean-up, phasing, stationkeeping, etc. These can be significant so beware the calculation is only for drag compensation</li>
							<li>The mission altitude is between 150 and 500 km</li>
						</ul>
					</p>

					<p>
						The major steps are:
						<ol>
							<li>
								Delta-V to drop a circular orbit's altitude while maintaining sun synchronicity is calculated as (further info <a href="{% url 'plots_delta_v' %}">here</a>)
								$$\begin{equation} \Delta V_{alt drop} = \sqrt{v_{i}^2 + v_{f}^2 - 2 v_{i} v_{f} \cos{\theta}} \label{e:combined_dv} \end{equation}$$ where
								$$\begin{equation} v = \sqrt{ \frac{\mu}{r_{earth} + alt}} \label{e:velocity} \end{equation}$$
							</li>
							<li>
								The atmospheric model incorporating solar cycle based F10.7 and ap indices calculates the atmosphere's density for the given altitude. The density is used to determine drag force experienced by the spacecraft as $$\begin{equation} F_{d} = \frac{1}{2} \rho A_{wet} C_{d} v^2 \label{e:drag} \end{equation}$$
							</li>
							<li>
								Total delta-V capability onboard is expressed as \(\Delta V_{total} = \frac{I_{T}}{m}\). Lifetime at a given altitude can be thought of as the velocity change capability remaining divided by the deceleration due to drag and is then calculated as
								$$\begin{equation} L = \frac{ \Delta V_{total} - \Delta V_{alt drop} }{\dfrac{F_{d}}{m}} \label{e:life} \end{equation}$$
							</li>
							<li>
								Both drag force from Equation \ref{e:drag} and time until propellant depletion from Equation \ref{e:life} are plotted
							</li>
						</ol>
					</p>

					{% if bokeh_plot_div %}
						<div align="center">
							{{bokeh_plot_div|safe}}
						</div>
					{% else %}
						<form action="" method="post">
						    {% csrf_token %}
						    {{ form|crispy }}
					    	<input type="submit" class="btn btn-primary mb5" value="Submit" />
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}