<!DOCTYPE html>
{% load static wagtailuserbar %}
{% load staticfiles %}

<html lang="en" class="footer-sticky">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110678828-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-110678828-1');
        </script>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {% block non_blog_title %} {% endblock %}

        <!-- Page title if created in Wagtail -->
        {% block title %}
            {% if self.seo_title %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}
                        <title> {{ site_name }}: {{ self.seo_title }} </title>
                    {% endif %}
                {% endwith %}
            {% else %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}
                        <title> {{ site_name }}: {{ self.title }} </title>
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% endblock %}
               
        <!-- Plugins CSS -->
        <link rel="stylesheet" href="{% static 'css/plugins/plugins.css' %}">
        <!-- REVOLUTION STYLE SHEETS -->
        <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">
        <!-- REVOLUTION LAYERS STYLES -->
        <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
        <!-- REVOLUTION NAVIGATION STYLES -->
        <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/navigation.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        {% block extra_css %} {% endblock %}

        {% block extra_head %} {% endblock %}
    </head>

    <body class="sticky-footer-page">
        {% wagtailuserbar %}

        <div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->

        <!-- Site Overlay -->
        <div class="site-overlay"></div>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light navbar-transparent bg-faded">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="{% url 'home' %}"><font color="white"><b>Total Impulse</b></a></font>
                
                <div  id="navbarNavDropdown" class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#/"><font color="white">Blog</a></font>
                             <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="/blog/" class="dropdown-item"><font color="white">Posts</a></font></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><font color="white">Calculators</a></font>
                             <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="{% url 'plots_delta_v' %}" class="dropdown-item"><font color="white">Delta-V for Alt Drop</a></font></li>
                                <li><a href="{% url 'plots_sc_drag' %}" class="dropdown-item"><font color="white">Spacecraft Drag</a></font></li>
                                <li><a href="{% url 'plots_thruster_performance' %}" class="dropdown-item"><font color="white">Thruster Performance</a></font></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><font color="white">Thrusters</a></font>
                             <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" class="dropdown-item"><font color="white">Coming Soon</a></font></li>
                            </ul>
                        </li>
                    </ul>        
                </div>
            </div>
        </nav>
        <!-- end Navbar -->

        {% block revslider %} {% endblock %} <!-- used in Home -->

        {% block pagetitle %} {% endblock %} 

        {% block blogindex %} {% endblock %}

        {% block blogpost %} {% endblock %}
       
        {% block content %} {% endblock %}

        <!-- Footer -->
        <footer class="footer footer-dark pt50 pb30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6  ml-auto mr-auto text-center">
                        <h4><i class="fa fa-envelope"></i> info@totalimpulse.net</h4>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

        <!--back to top-->
        <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>

        {% block extra_js %} {% endblock %}
        
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="{% static 'js/plugins/plugins.js' %}"></script> 
        <script src="{% static 'js/assan.custom.js' %}"></script> 
        
        <!-- REVOLUTION JS FILES -->
        <script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
        
        <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->	
        <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
        <script>
            /**Hero parallax script**/
            var tpj = jQuery;
            var revapi490;
            tpj(document).ready(function () {
                if (tpj("#rev_slider_490_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_490_1");
                } else {
                    revapi490 = tpj("#rev_slider_490_1").show().revolution({
                        sliderType: "hero",
                        jsFileLocation: "revolution/js/",
                        sliderLayout: "fullscreen",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                        },
                        responsiveLevels: [1240, 1024, 778, 480],
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: [1240, 1024, 778, 480],
                        gridheight: [600, 500, 400, 300],
                        lazyType: "none",
                        parallax: {
                            type: "mouse",
                            origo: "slidercenter",
                            speed: 2000,
                            levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
                            type:"mouse"
                        },
                        shadow: 0,
                        spinner: "off",
                        autoHeight: "off",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            disableFocusListener: false
                        }
                    });
                }
            });	/*ready*/
        </script> 
    </body>
</html>