{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block extra_head %}
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
	  TeX: { equationNumbers: { autoNumber: "all" } }
	});
	</script>

	<script type="text/javascript" async
	  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>

	{% if bokeh_plot_script %}
		<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css" type="text/css" />
		<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
		{{bokeh_plot_script|safe}}
	{% endif %}
{% endblock %}


{% block non_blog_title %}
    <title>Total Impulse: Delta-V Calculator</title>
{% endblock %}


{% block pagetitle %}
    <div class="page-titles-img title-space-lg bg-parallax parallax-overlay mb70" data-jarallax='{"speed": 0.2}' style='background-image: url("{% static "images/background.jpg" %}"'')>
        <div class="container">
            <div class="row">
                <div class=" col-md-8 ml-auto mr-auto">
                    <h1>Delta-V Required to Drop Altitude</h1>
                </div>
            </div>
        </div>
    </div><!--page title end-->
{% endblock %}


{% block content %}
	<div class="page-footer-sticky">
        <div class="footer-sticky-wrap">
            <div class="footer-sticky-inner">
            	<div class="pt30 pb40 container">
                    <p>
						This calculator compares the delta-V required to drop a spacecraft's orbital altitude while maintaining sun synchronicity. The major assumptions are

						<ul>
							<li>Circular orbit</li>
							<li>Altitude drop maintains sun synchronicity (ie inclination is changed also)</li>
							<li>First method is the summation of a Hohmann transfer plus a simple plane change</li>
							<li>Second method is to combine the plane change with the tangential burn at apogee of the transfer orbit, which is more efficient</li>
						</ul>
					</p>

					<p>
						The calculator follows these major steps:

						<ol>
							<li>
								The velocity of a circular orbit is defined as $$\begin{equation} v = \sqrt{ \frac{\mu}{r_{earth} + alt}} \label{e:velocity} \end{equation}$$ and a Hohmann transfer, the most fuel-efficient transfer between two circular coplanar orbits, is defined as
								 $$\begin{equation} \Delta V_{Hohmann} = \left[ \sqrt{ \mu \left( \dfrac{2}{r_{i}} - \dfrac{1}{a_{transfer}} \right)} - v_{i} \right] + \left[ v_{f} - \sqrt{ \mu \left( \dfrac{2}{r_{f}} - \dfrac{1}{a_{transfer}} \right)} \right] \label{e:hohmann} \end{equation}$$
							</li>
							<li>
								The velocity change for a plane change is defined as $$\begin{equation} \Delta V_{incl} = 2 v_{i} \sin \theta \label{e:incl} \end{equation}$$
							</li>
							<li>
								The total 2-step process is then $$\begin{equation} \Delta V_{total} = \Delta V_{Hohmann} + \Delta V_{incl} \label{e:total} \end{equation}$$
							</li>
							<li>
								The combined altitude drop and plane change velocity change is $$\begin{equation} \Delta V_{combined} = \sqrt{v_{i}^2 + v_{f}^2 - 2 v_{i} v_{f} \cos{\theta}} \label{e:combined} \end{equation}$$
							</li>
							<li>
								A comparison of the \( \Delta V \) from both Equation \ref{e:total} and Equation \ref{e:combined} is plotted. The combined maneuver is significantly 'cheaper' in terms of velocity change
							</li>
						</ol>
					</p>
					
					{% if bokeh_plot_div %}
						<div align="center">
							{{bokeh_plot_div|safe}}
						</div>
					{% else %}
						<form action="" method="post">
							{% csrf_token %}
							{{ form|crispy }}
						<input type="submit" class="btn btn-primary mb5" value="Submit" />
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}