{% extends "base.html" %}
{% load staticfiles %}

{% block non_blog_title %}
    <title>Total Impulse: Propulsion News</title>
{% endblock %}


{% block pagetitle %}
    <div class="page-titles-img title-space-lg bg-parallax parallax-overlay mb70" data-jarallax='{"speed": 0.2}' style='background-image: url("{% static "images/background.jpg" %}"'')>
        <div class="container">
            <div class="row">
                <div class=" col-md-8 ml-auto mr-auto">
                    <h1>Updates from around the propulsion world</h1>
                </div>
            </div>
        </div>
    </div><!--page title end-->
{% endblock %}


{% block content %}
	<div class="page-footer-sticky">
        <div class="footer-sticky-wrap">
            <div class="footer-sticky-inner">
            	<div class="pt30 pb40 container">

                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-default mb30" role="tablist">
                            <li class="nav-item" role="presentation"><a class="active nav-link" href="#latest" aria-controls="latest" role="tab" data-toggle="tab">10 Most Recent</a></li>

                            {% for i in companies %}
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#{{ i.company_name }}" aria-controls="{{ i.company_name }}" role="tab" data-toggle="tab">{{ i.company_name }}</a></li>
                            {% endfor %}

                            <li class="nav-item" role="presentation"><a class="nav-link" href="#more" aria-controls="more" role="tab" data-toggle="tab">(More Comming Soon)</a></li>

                        </ul>

                        <!-- Tab panes -->
                        <!-- Latest -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active show fade" id="latest">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Published</th>
                                            <th>Company</th>
                                            <th>Link</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for link in most_recent %}
                                        <tr>
                                            <th scope="row">{{link.published}}</th>
                                            <td>{{link.company_name}}</td>
                                            <td><a href="{{link.url}}" target="_blank">{{link.title}}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <!-- Companies -->
                            {% for i in companies %}
                                <div role="tabpanel" class="tab-pane fade" id="{{i.company_name}}">
                                    
                                    {% if i.company_name == 'Aerojet' %}
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Published</th>
                                                    <th>Links to {{i.company_name}} News</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for link in aerojet %}
                                                <tr>
                                                    <th scope="row">{{link.published}}</th>
                                                    <td><a href="{{link.url}}" target="_blank">{{link.title}}</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    
                                    {% elif i.company_name == 'Accion' %}
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Published</th>
                                                    <th>Links to {{i.company_name}} News</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for link in accion %}
                                                <tr>
                                                    <th scope="row">{{link.published}}</th>
                                                    <td><a href="{{link.url}}" target="_blank">{{link.title}}</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    
                                    {% elif i.company_name == 'Bradford-ECAPS' %}
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Published</th>
                                                    <th>Links to {{i.company_name}} News</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for link in ecaps %}
                                                <tr>
                                                    <th scope="row">{{link.published}}</th>
                                                    <td><a href="{{link.url}}" target="_blank">{{link.title}}</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    
                                    {% elif i.company_name == 'VACCO' %}
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Published</th>
                                                    <th>Links to {{i.company_name}} News</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for link in vacco %}
                                                <tr>
                                                    <th scope="row">{{link.published}}</th>
                                                    <td><a href="{{link.url}}" target="_blank">{{link.title}}</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    
                                    {% elif i.company_name == 'Moog' %}
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Published</th>
                                                    <th>Links to {{i.company_name}} News</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for link in moog %}
                                                <tr>
                                                    <th scope="row">{{link.published}}</th>
                                                    <td><a href="{{link.url}}" target="_blank">{{link.title}}</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}